<div class="container">
    <footer class="footer">
        <small>
            Copyright © 2016 <a href="#">COOK IT</a> | 
            by <a href="#e">Karim x15018008</a>
        </small>
    </footer>
</div>